{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block styling %}
    input { margin : 0; }
{% endblock %}

{% block title_head %}{{ title }}{% endblock %}
    
{% block body %}

    <div class="container">
        <form>
            <input type="search" name="search" id="search" class="input-text" value = "{% if search_key %}{{search_key}}{% endif %}">
            <input type="submit" value="Search" class="btn btn-secondary">
            <hr>
        </form>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    {% for i in range(1, headers|length) %}
                        <th scope="col"> {{ headers[i][0] }} </th>
                    {% endfor %}
                    <th scope="col">VIEW</th>
                    <th scope="col">REMOVE</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for row in table %}
                    <tr scope="row" class="table-data">
                        <form method="post" action="/dets/{{ row[1] }}">
                            {% for i in range(1, row|length) %}
                                <td class="table-data text-center">{{ row[i] }}</td>
                                <input type="hidden" name="{{ headers[i][0] }}" value="{{ row[i] }}">
                            {% endfor %}
            
                            <td class="m-0"><input type="submit" value="VIEW" class="btn btn-primary"></td>
                        </form>    
                        <td class="m-0">
                            <form method="post">
                                <input type="hidden" name="DELETE" value="{{ row[1] }}">
                                <input type="submit" value="REMOVE" class="btn btn-secondary rounded">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                <form method = "POST">
                    <tr scope="row">
                        <div >
                            <input type="hidden" name="ADD" value="">
                            {% for i in range(headers_all|length) %}
                                <td class="table-data" >
                                    {% if headers_all[i][1] == "select" %}
                                        <select name="{{ headers_all[i][0] }}" id="{{ headers_all[i][0] }}">
                                            {% for type in choices[headers_all[i][0]] %}
                                                <option value="{{ type }}">{{ type }}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        <input type="{{ headers_all[i][1] }}" name="{{ headers_all[i][0] }}" placeholder="{{ headers_all[i][0] }}" id="{{ headers_all[i][0] }}" class="m-0 w-100" required>
                                    {% endif %}
                                </td>
                            {% endfor %}
                                    
                                <td><input type="submit" value="Add" class="btn btn-primary m-0"></td>
                        
                        </div>
                    </tr> 
                </form>
            </tbody>
        </table>

        <a href="/download/{{ name }}" class="btn btn-primary">Download</a>
        <a href="/" class="btn btn-primary">Home</a>
        {% if update_form %}
            {% include 'update_form.html' %}
        {% endif %}
        
    </div>

{% endblock %}