
<div class="container">
    <h1>Usage Of Spare : {{ name_of_spare }}</h1>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                {% for i in range(headers2|length) %}
                    <th scope="col"> {{ headers2[i][0] }} </th>
                {% endfor %}
                <th scope="col">UPDATE</th>
                <th scope="col">REMOVE</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for row in table2 %}
                <tr scope="row" class="table-data">
                    <form method="post">
                        <div>
                            <input type="hidden" name="UPDATE_SPARE_DATA" value="{{ row[0] }}">
                            <input type="hidden" name="NAME OF SPARE" value="{{ name_of_spare }}">
                            <input type="hidden" name="CAT PART NO" value="{{ cat_part_no }}">
                        
                            {% for i in range(row|length) %}
                                <td class="table-data text-center"> <input name="{{ headers2[i][0] }}" type="{{ headers2[i][1] }}"value="{{ row[i] }}"></td>
                            {% endfor %}
                        </div>
                        <td><input type="submit" value="UPDATE" class="btn btn-secondary"></td>

                    </form>
    
                    <td class="m-0">
                        <form method="post">
                            <input type="hidden" name="NAME OF SPARE" value="{{ name_of_spare }}">
                            <input type="hidden" name="CAT PART NO" value="{{ cat_part_no }}">
                            <input type="hidden" name="{{headers2[0][0]}}" value="{{ row[0] }}">
                            <input type="hidden" name="SECTION NO" value="{{ section_no }}">

                            <input type="hidden" name="DELETE" value="{{ row[0] }}">
                            <input type="submit" value="REMOVE" class="btn btn-secondary rounded">
                        </form>
                    </td>
                </tr>
            
            {% endfor %}
            <form method = "POST">
                <tr scope="row">
                    <div>
                        <input type="hidden" name="SADD" value="hello">
                        <input type="hidden" name="NAME OF SPARE" value="{{ name_of_spare }}">
                        <input type="hidden" name="CAT PART NO" value="{{ cat_part_no }}">
                        <input type="hidden" name="SECTION NO" value="{{ section_no }}">

                        {% for rec in headers2 %}
                            <td class="table-data" >
                                <input type="{{ rec[1] }}" name="{{ rec[0] }}" id="{{ rec[0] }}" class="m-0 w-100" required>
                            </td>
                        {% endfor %}
                        <td><input type="submit" value="Add" class="btn btn-primary m-0"></td>
                    
                    </div>
                </tr> 
            </form>
        </tbody>
    </table>    
</div>