{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block styling %}
    input { margin : 0; }
{% endblock %}

{% block title_head %}{{ title }}{% endblock %}
    
{% block body %}

    <div class="container">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    {% for header in headers %}
                        <th scope="col"> {{ header }} </th>
                    {% endfor %}
                    <th scope="col">REMOVE</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for row in table %}
                    <tr scope="row" class="table-data">
                        {% for i in range(row|length) %}
                            <td class="table-data text-center">{{ row[i] }}</td>
                        {% endfor %}
                        <td class="m-0"><form method="post">
                            <input type="hidden" name="DELETE" value="{{ row[0] }}">
                            <input type="submit" value="REMOVE" class="btn btn-secondary rounded">
                        </form></td>
                    </tr>
                {% endfor %}
                <form method = "POST">
                    
                <tr scope="row">
                    <div style="">
                            {% for header in headers %}
                                <td class="table-data ">
                                    <input type="text" name="{{ header }}" id="{{ header }}" class="m-0 w-100" required>
                                </td>
                            {% endfor %}
                            <td><input type="submit" value="Add" class="btn btn-primary m-0"></td>
                    
                    </div>
                </tr> 
                </form>
            </tbody>
        </table>

        <a href="/download/{{ name }}" class="btn btn-primary">Download</a>
        <a href="/print/{{ name }}" class="btn btn-primary">Print</a>

        {% if update_form %}
        <div>
            <br><hr><br>
            <form action="/update" method="post">
                <input type="hidden" name="update_key" value="1">
                <label for="v1">FROM CAT PART NO : </label><input type="text" name="v1" id="v1">
                <br><br><br>

                <input type="hidden" name="update_key" value="1">
                <label for="v2">TO CAT PART NO : </label><input type="text" name="v2" id="v2">
                <br><br><br>

                <input type="submit" value="UPDATE" class="btn btn-primary">
            </form>
        </div>
        {% endif %}
        <br><br><br><a href="/" class="btn btn-primary">Home</a>
    </div>

{% endblock %}